<%= provide(:title, @todo_list.title) %>

<%= link_to "Back", index_path %>
<h1><%= @todo_list.title %></h1>

<p><%= link_to "Edit List", edit_todo_list_path(id: @todo_list.id) %></p>

<li><%= @todo_list.list_item_1 %></li>
<li><%= @todo_list.list_item_2 %></li>
<li><%= @todo_list.list_item_3 %></li>
<li><%= @todo_list.list_item_4 %></li>
<li><%= @todo_list.list_item_5 %></li>
<li><%= @todo_list.list_item_6 %></li>
<li><%= @todo_list.list_item_7 %></li>
<li><%= @todo_list.list_item_8 %></li>
<li><%= @todo_list.list_item_9 %></li>
<li><%= @todo_list.list_item_10 %></li>
<li><%= @todo_list.list_item_11 %></li>
<li><%= @todo_list.list_item_12 %></li>
<li><%= @todo_list.list_item_13 %></li>
<li><%= @todo_list.list_item_14 %></li>
<li><%= @todo_list.list_item_15 %></li>
<li><%= @todo_list.list_item_16 %></li>
<li><%= @todo_list.list_item_17 %></li>
<li><%= @todo_list.list_item_18 %></li>
<li><%= @todo_list.list_item_19 %></li>
<li><%= @todo_list.list_item_20%></li>